.banner {
    width: 95%;
    height: 50vh;
    background-color: blanchedalmond;
    border: 4px solid transparent; /* #6D21E9 #271D38; */
    border-image: linear-gradient(45deg, #6d21e9, #4600B9);
    border-image-slice: 1;
    border-radius: 10px;
    background: linear-gradient(225deg, #9189eb 0%, #f67493 100%);
    padding: 20px 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .bannerImagem {
    height: 45vh;
    width: 15vw;
    margin-right: 80px;
    
  }
  .bannerImagem > img {
    height: inherit;
    width: inherit;
  border-radius: 10px;
  }
  
  .bannerTextos {
    width: 50%;
    height: 45vh;
    color: #fff;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .bannerTextos> p:nth-child(1) {
    margin-bottom: 7vh;
    font-size: clamp(1rem, 3vw , 3rem) ;
  }
  .bannerTextos> p:nth-child(2) {
    margin-bottom: 10px;
    font-size: clamp(0.75rem, 3vw , 2rem) ;
  }
  .bannerTextos> p:nth-child(2)>span {
    text-decoration: line-through;
  }
  .bannerTextos> p:nth-child(3) {
    margin-bottom: 3vh;
    font-size: clamp(1rem, 3vw , 3rem) ;
  }