.filtro {
    width: 20%;
    height: 390px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: initial;
    margin-right: 7vw;
    /* margin-top: 100px; */
    padding: 5vh 2vw;
    border: 4px solid #6D21E9/* #271D38*/;
    border-radius: 10px;
    
}

.filtro > input,
.filtro > div{
    margin-bottom: 30px;
}

/* .caixaTexto {

} */

.filtro > div> p:nth-child(1){
    /* font-size: 32px; */
    font-size: clamp(1rem, 3vw , 2rem) ;
    margin-bottom: 10px;
}

.radio {
    display: flex;
}
.radio > input {
    margin-right: 10px;
}
.radio > p {
    font-size: clamp(0.75rem, 3vw , 1rem) ;
}
.checkbox {
    display: flex;
}
.checkbox > input {
    margin-right: 10px;
}
.checkbox > p {
    font-size: clamp(0.75rem, 3vw , 1rem) ;
}


